<html>
<head>
    <title>WeHaul Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
</head>
<body>
    <!--NAVBAR CODE-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
                <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="payment">Payment</a></li>
                    <li><a href="settings">Account Settings</a></li>
                    <li><a href="help">Help &amp; FAQ</a></li>
                    <li><a href="history">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav">
                <h2>WEHAUL</h2>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Current Ride Requests</h1>
        {{#each rides}}
            <div class="panel panel-default ride">
                <img src="{{pic}}" class="detailsImage">
                <h4><b>{{name}}</b></h4>
                <p><b>Current Location:</b> {{start}}</p>
                <p><b>Destination:</b> {{end}}</p>
                <p><b>Distance from You:</b> {{distance}} miles</p>
            </div>
        {{/each}}
    </div>


    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>